.a{
       background-color: #0000009c;
	}

	.border-box{
    border-style: solid;
    border-width: thin;
    border-color: #fbab29;
  }

  .img{
        background-image: url(https://www.firstfiddle.in/assets/images/franchise-with-us.jpg);
    	background-size: cover;
    	width: 100%;
    	height: 600px;
	}

	.mt-10{
    	margin-top: 220px;
    	font-family: prague;
        color: #fff;
        font-size: 80px;
        font-weight:bold;
    }

    .priyank{
    	margin-top: 40px;
        padding-left: 25px;
    }

    .b{
    	margin-top: 50px;
    }

    .paragraph{
    	letter-spacing: 1px;
        word-spacing: 2px;
        text-align: justify;
        
    }

    .btn{
		color: black;
        padding: 10px 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #ffc107;
        margin-top: 20px;
        margin-bottom: 50px;               
        font-size: 1rem;    
        border-radius: .25rem;
    
	}

	.icon{

      	width: 40px;
      	color: #fcb21b;
      	font-size: 2em;

      }
      .images{
      	width: 330px;
      	padding: 10px;
        margin-left: 25px;
        margin-top: 25px;
      }

      .name{
      	color: #fff;
      	margin-top: -83px;
      	font-weight: bold;
      	letter-spacing: 2px;
      	font-size: 25px;
      }

      .mainfooter{
    	background: #020306f0;
        padding: 50px;
        color: #fff;
        margin-top: 30px;
    }
    .F1{
    	font-family: 'prague';
        font-size: 45px;
        line-height: 50px;
        letter-spacing: 3px;
        color: #fff;

    }
    
    .y{
    color: #fcb21b;
        }

	.foot-add{
		padding: 15px;
	}
      
      .icon{

      	width: 40px;
      	color: #fcb21b;
      	font-size: 2em;

      }

      .policy{
      	background-color: #000;
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .b{
      	 font-size: 13px;
         color: white;
         margin-top: 0px;
         margin-bottom: 0rem;
      }