.a{
       background-color: #0000009c;
	}
	.border-box{
    border-style: solid;
    border-width: thin;
    border-color: #fbab29;
  }
  .img{
     background-image: url(https://www.firstfiddle.in/assets/images/banner-press-release.jpg);
     background-size: cover;
     width: 100%;
     height: 600px;
  }
  .mt-10{
  	color: white;
    margin-top: 290px;
    font-size: 80px;
    font-family:auto;
  }

  .heading{
  	text-align: center;
    margin-top: 30px;
    font-weight: 400;
    font-size: 30px;
  }
  
  .img-set{
  	height: 315px;
    width: 100%;
    padding: 10px;
  }

  .box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 40px;

  }
  .b{
    margin-top: 60px;
  }
  .c{
    margin-top: 50px;
    font-weight: 400;
  }
  .img1{
    width: 100%;
    padding: 25px;
    margin-top: -8px
  }
  .scrollabale{
    height: 480px;
    overflow-y: scroll;
    border-radius: 10px;
    margin-top:25px;

  }
            
  .a1{
   font-size: 13px;
   }
  .s1{
    border-bottom: 1px solid #80808078;
    margin-top: 10px;
    margin-bottom: 20px;
    }          
 p{
   font-size: 16px;
   }

 a {
  color: #060606;
          
    }

      .mainfooter{
        background: #020306f0;
        padding: 50px;
        color: #fff;
     }
      .F1{
        font-family: 'prague';
        font-size: 45px;
        line-height: 50px;
        letter-spacing: 3px;
        color: #fff;

      }
    
       .y{
        color: #fcb21b;
      }

      .foot-add{
         padding: 15px;
      }
      
      .icon{

        width: 40px;
        color: #fcb21b;
        font-size: 2em;

      }

      .policy{
        background-color: #000;
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .b{
         font-size: 13px;
         color: white;
         margin-top: 0px;
         margin-bottom: 0rem;
      }